.ItemFormContainer {
  display: flex;
  flex-direction: column;
  border: solid .15em var(--primary-color);
  border-radius: .5em;
  margin-bottom: 1em;
  background-color: white;
}

.ItemFormContainer form {
  display: flex;
  flex-direction: column;
  width: 40em;
}
.ItemFormContainer form label {
  font-size: 1em;
  justify-content: center;
}

.ItemFormSelect select {
  border-radius: .5vmin;
  text-align: center;
}

.ItemDescriptionInput {
  height: 85%;
}

.ItemFormInputs  {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.ItemFormInputs input {
  border-radius: .5vmin;
  width: 100%;
  border: solid .15em var(--primary-color);
}

.ItemFormButtons button {
  width: 6em;
  height: 2em;
}