.ItemDetailContainer {
  border: solid .25vmin var(--main-color);
  padding: 1vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
}

.ItemDetailContainer input, select {
  width: 200px;
  height: 30px;
  margin-top: 1vmin;
  border: solid .25vmin var(--main-color);
  width: 75%;
}
