.BusinessFormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--secondary-color);
  border-radius: 2vmin;
  margin-top: 5em;
  height: 400px;
}

.BusinessFormUser {
  display: flex;
  align-items: center;
  width: 300px;
}

.BusinessFormContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.BusinessFormContainer input{
  border: solid .1vmin var(--primary-color);
  margin-left: 2vw;

}

.BusinessFormButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.BusinessFormButton button {
  height: 50px;
  width: 200px
}


.BusinessFormContainer p {
  text-align: left;
  font-size: 1.5em;
}

.BusinessFormInput {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.AddBusinessButton {
  font-size: 1.5vh;
}