.BusinessPageContainer {
  display: flex;
  flex-direction: column;
}

.BusinessPageMenuButton {
  display: flex;
  justify-content: center;
}

.BusinessPageMenuButton button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5em;
  width: 15em;
  font-weight: bold;
  border-radius: .25em;
  border: solid .15em var(--main-color)
}