.BusinessPageContainer {
  background-color: cyan;
  display: flex;
  flex-direction: column;
}

.BusinessPageMenuButton {
  display: flex;
  justify-content: center;
}
.BusinessPageMenuButton button {
  border-radius: .25em;
  height: 40px;
  width: 250px;
}