.ItemSelectionContainer {
  display: flex;
  flex-direction: column;
  width: 50vw;
  max-height: 20vh;
  background-color: gray;
  overflow-y: auto;
}

.TableContainer {
  width: 85vw;
}

.TableContainer th {
  text-align: left;
  border-bottom: .25em solid var(--primary-color);
}

.TableContainer td {
  text-align: left;
  border-bottom: .15em solid var(--primary-color);
}

.AddItemButton {
  text-align: center;
  justify-content: center;
  width: 15em;
  height: 2em;
}

.ItemTableEditCell {
  border-radius: .25em;
  font-size: 1em;
  width: 6em;
  height: .75em;
}

.ItemEditButton {
  font-size: 1em;
  height: 1.25em;
}