.MenuListContainer {
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid black .1em;
  border-radius: 1vmin;
}

.MenuListButtonContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: .15em solid var(--tertiary-color);
  border-radius: 1vmin;
  width: 75%;
  margin-top: 2vh;
}

.MenuContainerItems {
  display: flex;
  flex-direction: row wrap;
}

.MenuListButton {
  color: var(--primary-color);
  border: .15em solid var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 2.5em;
  font-size: 1em;
  max-width: 15em;
  overflow: hidden;
}

.AddMenuButton {
  color: var(--main-color);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: .15em solid var(--main-color);
  text-align: center;
  border-radius: .25em;
  width: 12em;
  height: 2em;
}

.MenuListMenuTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 1em;
}

/* @media (max-width: 1000px) {
  .MenuListContainer {
    width: 300px;
  }
} */