.MenuListContainer {
  background-color: rgb(107, 74, 74);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MenuListButtonContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}

.MenuListButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  font-size: .75em;
}

.AddMenuButton {
  text-align: center;
  justify-content: center;
  width: 15em;
  height: 2em;
}

/* @media (max-width: 1000px) {
  .MenuListContainer {
    width: 300px;
  }
} */