.MenuListContainer {
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 100vh;
}




/* @media (max-width: 1000px) {
  .MenuListContainer {
    width: 300px;
  }
} */